# API Backend URL
# Pour Docker, utilisez l'URL interne du réseau Docker : http://backend:3000
# Pour le développement local, utilisez : http://localhost:3000
VITE_API_URL=http://localhost:3000

# WebSocket URL
# Pour Docker, utilisez l'URL interne du réseau Docker : ws://backend:3000
# Pour le développement local, utilisez : ws://localhost:3000
VITE_WS_URL=ws://localhost:3000

