# API Backend URL
# Pour Docker, utilisez l'URL interne du réseau Docker : http://lumy-backend:3000
# Pour le développement local, utilisez : http://localhost:3000/api
VITE_API_URL=http://lumy-backend:3000/api

# WebSocket URL
# Pour Docker, utilisez l'URL interne du réseau Docker : ws://lumy-backend:3000
VITE_WS_URL=ws://lumy-backend:3000

# Url Lumy Store
VITE_STORE_URL=192.168.10.125:3000