# Application
# Renomer en .env

# development | production | test
NODE_ENV=development
PORT=3000
# Pour Docker, utilisez l'URL interne : http://localhost
# Pour le développement local, utilisez : http://localhost:5173
FRONTEND_URL=http://localhost:5173

# Database
DATABASE_PATH=data/lumy.db

# MQTT (Zigbee2MQTT)
# Pour Docker, utilisez l'URL interne : mqtt://mosquitto:1883
# Pour le développement local, utilisez : mqtt://localhost:1883
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=lumy-dev
MQTT_RECONNECT_PERIOD=5000

# Logging
# debug | info | warn | error
LOG_LEVEL=info

# Auth
JWT_SECRET=lumy-home-secret-key-change-in-production
JWT_EXPIRES_IN=7d
ENABLE_LOCAL_MODE=true

# Store
STORE_BASE_URL=https://store.lumy-home.com

# Updater
# Pour Docker, utilisez l'URL interne : http://lumy-updater:3411
# Pour le développement local, utilisez : http://localhost:3411
UPDATER_URL=http://localhost:3411
